<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <!--user-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-user"></i>&nbsp; {{ 'User' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/signup"  class="fa fa-plus" ><span>&nbsp; {{ 'Add' | translate }}</span></a>
                    </li>
                    <li>
                        <a routerLink="/manageuser"  class="fa fa-list"><span>&nbsp;{{ 'Manage' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <!--comapny-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClassCompany('pages')">
                <span><i class="fa fa-industry"></i>&nbsp; {{ 'Company' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenuCompany === 'pages'">
                <ul class="submenu">
                   <li>
                        <a routerLink="/addcompany"  class="fa fa-plus"><span>&nbsp; {{ 'Add' | translate }}</span></a>
                    </li>
                    <li>
                        <a  routerLink="/managecompany" class="fa fa-list"><span>&nbsp;{{ 'Manage' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

         <!--model-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClassModel('pages')">
                <span><i class="fa fa-building-o"></i>&nbsp; {{ 'Model' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenuModel === 'pages'">
                <ul class="submenu">
                   <li>
                        <a routerLink="/addmodel"  class="fa fa-plus"><span>&nbsp; {{ 'Add' | translate }}</span></a>
                    </li>
                    <li>
                        <a  routerLink="/managemodel" class="fa fa-list"><span>&nbsp;{{ 'Manage' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        
         <!--color-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClassColor('pages')">
                <span><i class="fa fa-paint-brush"></i>&nbsp; {{ 'Color' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenuColor === 'pages'">
                <ul class="submenu">
                   <li>
                        <a routerLink="/addcolor"  class="fa fa-plus"><span>&nbsp; {{ 'Add' | translate }}</span></a>
                    </li>
                    <li>
                        <a  routerLink="/mangecolor" class="fa fa-list"><span>&nbsp;{{ 'Manage' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

         <!--createbill-->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClassBill('pages')">
                <span><i class="fa fa-id-card"></i>&nbsp; {{ 'Bill' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenuBill === 'pages'">
                <ul class="submenu">
                   <li>
                        <a routerLink="/create-bill"  class="fa fa-plus"><span>&nbsp; {{ 'Add' | translate }}</span></a>
                    </li>
                    <li>
                        <a  routerLink="/managebill" class="fa fa-list"><span>&nbsp;{{ 'Manage' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
    </ul>
</nav>
