<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-6 push-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <!--<h1>Mobile Shop Management</h1>-->
            <form  class="form-signin" [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
            <h2 class="clean-font">Register Here</h2>
            <div class="form-group">
                
                <input class="form-control"  placeholder="First Name" formControlName="firstname">
                
            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="Last Name" formControlName="lastname">
                
            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="User Name" formControlName="username">
                
            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="Mobile No" formControlName="mobile_no">
                
            </div>
            <div class="form-group">
                
                <input class="form-control"  placeholder="Phone No" formControlName="phone_no">
                
            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="Email Id" formControlName="email_id">
                
            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="Address" formControlName="address">
                
            </div>
            <div class="form-group">
                
                <input class="form-control" placeholder="Tin No"  formControlName="tin_no">
                
            </div>

            <div class="form-group">
                
                <input class="form-control" placeholder="Pan No"  formControlName="pan_no">
               
            </div>

            <div class="form-group">
                
                <input class="form-control" placeholder="Adhar No"  formControlName="adhar_no">
                
            </div> 
            <div class="form-group">
                <label class="select-label">Select Role:</label>
                <select class="form-control" formControlName="user_role_id">
                    <option *ngFor="let role of roleList" [value]="role.role_id">{{role.role_name}}</option>
                </select>
                
            </div> 
            <div class="form-group">
               
                <input class="form-control" placeholder="Gst Number"  formControlName="gst_number">
                
            </div> 
            

            <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
