
<h1>{{welcome}}</h1>
                <table class="table">
                    <tr>
                        <th>Model Number</th>
                        <th>Mobile Company Name</th> 
                        <th>Model Ram</th>
                        <th>Model ROM</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let model of modalNamesList; let i = index">
                        <td>{{model.Model}}</td>
                        <td>{{model.Company}}</td>
                        <td>{{model.Ram}}</td>
                        <td>{{model.ROM}}</td>
                        <td><i class='fa fa-pencil-square-o' aria-hidden='true'></i></td>
                        <td><i class='fa fa-trash-o' aria-hidden='true'></i></td>

                    </tr>
                </table>