
<h1>{{welcome}}</h1>
                <table class="table">
                    <tr>
                        <th>Company Name</th>
                        <th>Company Type</th> 
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let company of companyList; let i = index">
                        <td>{{company.companyName}}</td>
                        <td>{{company.companyTypeId}}</td>
                        <td><i class='fa fa-pencil-square-o' aria-hidden='true'></i></td>
                        <td><i class='fa fa-trash-o' aria-hidden='true'></i></td>

                    </tr>
                </table>