<div class="login-page" [@routerTransition]>
    <a class="btn right-link" [routerLink]="['/adminlogin']">Login As Admin</a>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Mobile Recharge Login</h1>
            <form role="form">
                 <div [hidden]="errMsgval" class="errormsg">{{errorMsg}}</div>
              <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" class="form-control input-underline input-lg" id="" placeholder="username" required autofocus="" (ngModelChange)="valuechange($event)" [ngModelOptions]="{standalone: true}" />     
                </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" class="form-control input-underline input-lg" id="" placeholder="Password" required autofocus="" (ngModelChange)="valuechange($event)" [ngModelOptions]="{standalone: true}" />
                    </div>             
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
            </form>
            <a class="btn" [routerLink]="['/forgotpassword']" (click)="onLoggedin()"> Forgot password </a>
                &nbsp;
        </div>
    </div>
    <div class="row">
    </div>
</div>
