<div class="wrapper">
  <form class="form-signin" (ngSubmit)="onSubmit()" >
  <img class="user-avatar" src="assets/images/logo.png" width="150px" />
    <h2 class="clean-font">Change Password</h2>

    <input type="text" class="form-control" name="oldPassword" placeholder="Old Password" [(ngModel)]="oldPassword" name="oldPassword" required autofocus=""/>
    <br>
    <input type="text" class="form-control" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required autofocus=""/>
    <br>
    <input type="text" class="form-control" name="newPassword" placeholder="Confirm New Password" [(ngModel)]="newPassword" name="newPassword" required autofocus=""/>

    <br>
    <br>
    
   
    <button class="btn btn-primary btn-block" type="submit">Change Password</button>
  </form>
</div>