
<h1>{{welcome}}</h1>
                <table class="table">
                    <tr>
                        <th>Mobile Color</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let color of colorList; let i = index">
                        <td>{{color.colorList}}</td>
                        <td><i class='fa fa-pencil-square-o' aria-hidden='true'></i></td>
                        <td><i class='fa fa-trash-o' aria-hidden='true'></i></td>

                    </tr>
                </table>