<div style="margin: auto; max-width: 1000px; margin-bottom: 50px;">
    <data-table id="persons-grid"
        headerTitle="Users"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'username'"
            [header]="'Username'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'firstName'"
            [header]="'FirstName'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'lastName'"
            [header]="'LastName'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'email'"
            [header]="'Email'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'mobile'"
            [header]="'Mobile'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'mobileTwo'"
            [header]="'mobile Other'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'addressOne'"
            [header]="'Address 1'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

        <data-table-column
            [property]="'addressTwo'"
            [header]="'Address 2'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>

    </data-table>
</div>